
progress {
    background-color: #68fd82;
}

progress::-webkit-progress-bar {
    background: #ccc;
}

progress::-webkit-progress-value {
    background: #64ff7b;

}

percentage {
    position: center;
    left: 160px;
}

.list {
    width: 500px;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}