<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>网络云盘</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>
<div class="content">
    <div class="form sign-in">
        <form th:action="@{/OnlineCommunity/login}" method="post" th:object="${User}">
            <h2>欢迎回来</h2>
            <label>
                <span th:text="${loginError2}"></span>
            </label>
            <label>
                <span>账号</span>
                <input type="id" name="id"/>
            </label>
            <label>
                <span>密码</span>
                <input type="password" name="password"/>
            </label>
            <p class="forgot-pass"><a href="/OnlineCommunity/login/passwordBack">忘记密码？</a></p>
            <label>
                <span th:text="${loginError1}"></span>
            </label>
            <button type="submit" class="submit">登 录</button>
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>还未注册？</h2>
                <p>立即注册，加入我们吧！</p>
            </div>
            <div class="img__text m--in">
                <h2>已有帐号？</h2>
                <p>有帐号就登录吧，好久不见了！</p>
            </div>
            <div class="img__btn">
                <span class="m--up">注 册</span>
                <span class="m--in">登 录</span>
            </div>
        </div>
        <div class="form sign-up">
            <form id="regUser">
                <h2>立即注册</h2>
                <label>
                    <span>账号</span>
                    <input id="regUsername"  name="id"/>
                </label>
                <label>
                    <span>密码</span>
                    <input id="regPassword"  name="password"/>
                </label>
                <label>
                    <span>邮箱</span>
                    <input id="regEmail"  name="name"/>
                </label>
                <label>
                    <span>电话号码</span>
                    <input id="regPhone" name="phoneNumber"/>
                </label>
                <button type="button" class="submit">注 册</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/loginScript.js"></script>
</body>

</html>
