<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>网络云盘</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">

</head>

<body>
<div class="content">
    <div class="form sign-in">
        <form id="logUser" name="loginForm">
            <h2>欢迎回来</h2>
            <label>
                <span>账号</span>
                <input id="logUsername" name="username"/>
            </label>
            <label>
                <span>密码</span>
                <input id="logPassword" name="password"/>
            </label>
            <button type="button" class="submit" onclick="login()">登 录</button>
        </form>
        <form id="shareFile" name="shareForm">
            <label>
                <span>分享码</span>
                <input id="shareCode" name="shareCode"/>
            </label>
            <button type="button" class="submit" onclick="getShareFile()">提 取</button>
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>还未注册？</h2>
                <p>立即注册！</p>
            </div>
            <div class="img__text m--in">
                <h2>已有帐号？</h2>
                <p>欢迎登录！</p>
            </div>
            <div class="img__btn">
                <span id="registerBar" class="m--up">注 册</span>
                <span id="loginBar" class="m--in">登 录</span>
            </div>
        </div>
        <div class="form sign-up">
            <form id="regUser" name="registerForm">
                <h2>立即注册</h2>
                <label>
                    <span>账号</span>
                    <input id="regUsername" name="username"/>
                </label>
                <label>
                    <span>密码</span>
                    <input id="regPassword" name="password"/>
                </label>
                <label>
                    <span>邮箱</span>
                    <input id="regEmail" name="email"/>
                </label>
                <label>
                    <span>电话号码</span>
                    <input id="regPhone" name="phone"/>
                </label>
                <button type="button" class="submit" onclick="register()">注 册</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/loginScript.js"></script>
<script>
    //提示框初始化
    toastr.options = {
        positionClass: "toast-top-center",
        timeOut: "3000",
    };

    //注册
    function register() {
        if ($("#regUsername").val() == '') {
            toastr.warning("用户名不能为空，请重新输入！");
            $("#regUsername").focus();
            return;
        }
        if ($("#regEmail").val() == '') {
            toastr.warning("邮箱不能为空，请重新输入！");
            $("#regEmail").focus();
            return;
        }
        if ($("#regPhone").val() == '') {
            toastr.warning("电话号码不能为空，请重新输入！");
            $("#regPhone").focus();
            return;
        }
        //使用jquery的serializeArray方法，和springBoot的自动参数绑定
        var formData = $("#regUser").serializeArray();
        $.ajax({
            url: 'register',
            type: 'POST',
            data: formData,
            success: function (data) {
                if (data == false) {
                    toastr.warning("当前用户已存在，请重新输入！");
                    $("#regUsername").val("");
                    $("#regPassword").val("");
                    $("#regEmail").val("");
                    $("#regPhone").val("");
                    $("#regUsername").focus();
                } else {
                    toastr.success("注册成功！");
                    $("#loginBar").click();
                    // setTimeout("indexLogin()", 1500);
                }
            }
        })
    }


    //登录
    function login() {
        if ($("#logUsername").val() == '') {
            toastr.warning("用户名不能为空，请重新输入！");
            $("#logUsername").focus();
            return;
        }
        if ($("#logPassword").val() == '') {
            toastr.warning("密码不能为空，请重新输入！");
            $("#logPassword").focus();
            return;
        }
        //使用jquery的serializeArray方法，和springBoot的自动参数绑定
        var formData = $("#logUser").serializeArray();
        $.ajax({
            url: 'login',
            type: 'POST',
            data: formData,
            success: function (data) {
                if (data == false) {
                    toastr.error("用户名或密码错误！");
                    $("#logPassword").val("");
                    $("#logPassword").focus();
                } else {
                    window.location.href = "homepage";
                }
            }
        })
    }

    function getShareFile(){
        var shareCode=$("#shareCode").val();
        $.ajax({
            url:'/Share/shareFile/'+shareCode,
            type:'GET',
            success:function (data){
                if(data==false){
                    toastr.error("提取码有误！");
                }else{
                    window.location.href = "/Share/sharePage/"+shareCode;
                }
            }
        })
    }


</script>
</body>

</html>
